.drum-container {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sound-trigger {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    height: 100px;
    width: 115px;
}

.sound-key {
    font-size: 25px;
    font-weight: 700;
    line-height: 1px;
}